#page-game {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding: 40px 10px 10px 10px;
}

.modal,
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(15, 15, 15, .6);
    z-index: 9999;
    transform: translateX(-100%);
    transition: ease-in-out .2s;
}

.overlay {
    transform: translateY(-100%);
}

.overlay.active {
    transform: translateY(0);
}

aside {
    position: absolute;
    z-index: 99999;
    width: 280px;
    height: 100vh;
    background-color: #F2CD00;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateX(-100%);
    transition: ease-in-out .3s;
}

aside.active,
.modal.active {
    transform: translateX(0);
}

.aside-finish-game {
    position: absolute;
    z-index: 9999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -1000px);
    background-color: #F2CD00;
    width: 300px;
    border-radius: 10px;
    opacity: 0;
    transition: ease-in-out .5s;
}

.aside-finish-game.active {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.content-finish-game h1 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 1.8rem;
    text-align: center;
}

.content-finish-game {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.options-finish-game {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-menu {
    position: relative;
    height: 100%;
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-topbar {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    z-index: 99999;
}

.menu-topbar h1 {
    margin: 0;
}

.logotipo {
    display: grid;
    place-items: center;
    margin-bottom: 50px;
}

.btn {
    height: 38px;
    padding: 6px 12px;
    border-radius: 10px;
    border: 0;
    font-size: 1rem;
    color: #F2CD00;
    background-color: #0F0F0F;
    cursor: pointer;
    font-weight: 500;
    transition: ease-in-out .2s;
}

#btn-close-menu,
#btn-reset,
#btn-reset-fg,
#btn-mudar-tema {
    background-color: transparent;
    border: 2px solid #0F0F0F;
    color: #0F0F0F;
}

#btn-close-menu:hover,
#btn-reset:hover,
#btn-reset-fg:hover,
#btn-mudar-tema:hover {
    background-color: #0F0F0F;
    color: #F2CD00;
}

#btn-exit,
#btn-reset,
#btn-exit-fg, 
#btn-reset-fg,
#btn-mudar-tema {
    width: 100%;
}

header {
    height: 60px;
    background-color: #F2CD00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
}

.game-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hamburguer {
    transition: all 900ms;
    cursor: pointer;
}

.hamburguer.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    margin: 5px auto;
    background-color: #0F0F0F;
    transition: all 0.3s ease-in-out;
}

.timer-and-choice {
    display: flex;
    align-items: center;
    gap: 20px;
}

.timer-and-choice h1,
.player-name h1 {
    font-size: 1.4rem;
}

.timer-and-choice span {
    width: 10px;
    height: 4px;
    background-color: #0F0F0F;
}

.player-name h1,
.timer-game h1 {
    color: #0F0F0F;
}

.content-game {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}

.card {
    position: relative;
    width: 100%;
    aspect-ratio: 3/4;
    border-radius: 10px;
    transition: all 400ms ease-in-out;
    transform-style: preserve-3d;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
}

.face-reverse {
    transform: rotateY(180deg);
}

.front {
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.back {
    background-color: #F2CD00;
    backface-visibility: hidden;
    border-radius: 10px;
    display: grid;
    place-items: center;
}

.back img {
    width: 148px;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card.disable .face {
    background-color: rgba(0, 0, 0, 0.3);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

button#btn-correct {
    padding: 10px 15px;
    border-radius: 10px;
    border: 0;
    font-size: 1rem;
    color: #0F0F0F;
    background-color: #F2CD00;
    cursor: pointer;
    font-weight: 500;
}

button#btn-correct:disabled {
    background-color: rgb(242, 205, 0, 0.4);
    color: rgb(15, 15, 15, .6);
    cursor: default;
}