#page-login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #0F0F0F;
}

.content-login {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #F2CD00;
    border-radius: 15px;
    padding: 20px;
}

.logotipo {
    width: 164px;
    margin: 0 auto;
}

#form-login {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.label-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label-input label {
    font-weight: 500;
    color: #0F0F0F;
}

.label-input input#name {
    color: #FFF;
}

.label-input input#name,
button#play {
    padding: 10px 15px;
    border-radius: 10px;
    border: 0;
    font-size: 1rem;
    background-color: #0F0F0F;
}

.label-input input#name:focus {
    outline: none;
}

button#play {
    cursor: pointer;
    background-color: #0F0F0F;
    font-weight: bold;
    border: 0;
    color: #FFF;
}

button#play:disabled {
    background-color: rgb(15, 15, 15, .8);
    color: rgb(255, 255, 255, .4);
    cursor: default;
}